body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 15px 0;
}

.container {
    display: flex;
    height: 85vh;
}

#sidebar {
    width: 300px;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto; 
    border-right: 1px solid #ddd;
}

#sidebar h2 {
    text-align: center;
    margin-top: 0;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 15px 0;
}

#map {
    height: 85vh; /* Make the map fill most of the screen */
    width: 100%;
}